@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&family=Khand&display=swap');

.icone, #tableHead {
    text-align: center;
    vertical-align: middle;
}

#tabela {
    background-color: seashell;
}



.item:hover {
    background-color: #23cfa6;
    color: white;
  }

#tableHead {
    background-color: #353e52;
    color: white;
}

#tableBody {
    color: #353e52;
}


