.nav {
    background-color: #353e52;
    color: white;
}

a {
    color: white;
}

.botao {
    background-color: #23cfa6;
    border-color: #5c62a3;
    font-weight: bold;
}



 .botao:hover {
    background-color: #5c62a3 !important;
    color: #4ff1cc !important;
} 

.botao:focus {
    background-color: #23cfa6;
    
}
