@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&family=Khand&display=swap');


.slide {
  height: 400px;
  width: 100%;
  object-fit: none;
}

.captionCarousel {
  font-family: 'Barlow';
  font-weight: bold;
    margin: auto;
    width: 40%;
    background-color: rgba(31, 185, 149, 0.8); }

  .captionCarousel:hover {
    cursor: pointer;
}